@import './Button/Button'
@import './Login/Login'
@import './Register/Register'
@import './Form/Form'
@import './Input/Input'
@import './About/About'
@import './Navigation/Navigation'
@import './Panel/Panel'
@import './UsersPage/UsersPage'
@import './Table/Table'
@import './MySurveysPage/MySyrveysPage'
@import './NewSurveyPage/NewSurveyPage'
@import './NewSurveyQuestionForm/NewSurveyQuestionForm'
@import './DraftsPage/DraftsPage'
@import './SurveyPage/SurveyPage'

.main
  min-height: 85vh
  width: 100%
  display: flex
