.drafts-page
  padding: 40px 1rem
  width: 80%
  h3
    margin-bottom: 20px
  &-container
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: start
    .draft-item
      width: 30%
      border: 1px solid black
      &:hover
        transition: all ease-in 0.1s
        box-shadow: 0 0 20px rgba(0,0,0,0.5)
        transform: scale(1.03)
